.theme-song-button {
   width: 80px;
}

.theme-song-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.theme-song-buttons {
  margin-top: 10px;
}

.theme-song-table {
  td {
    font-size: 1.2em;
    padding: 2px 10px;
  }
}

.volume-label {
  margin-left: 20px;
  margin-bottom: 0;
}

.volume-slider {
  margin-top: 0;
}
