<div class="container2">
  <div class="jboard">
    <table>
      <thead>
        <tr>
          <th ng-repeat="subject in ['History', 'Sports', 'Food', 'Modern', 'Encompass']">{{subject}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="amt in [100, 200, 300, 400, 500]">
          <td class="well">${{amt}}</td>
          <td class="well">${{amt}}</td>
          <td class="well">${{amt}}</td>
          <td class="well">${{amt}}</td>
          <td class="well">${{amt}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="score">
    <h4>Score: <span id="score">0</span></h4>
  </div>

</div>
