<div class="question">
  <div class="modal-header">
      <h1 class="modal-title well">{{ ctrl.category.name }} for ${{ ctrl.question.value }}</h1>
  </div>

  <div class="modal-body">
    <h1 ng-hide="ctrl.showAnswer">{{ ctrl.question.question }}</h1>
    <h1 ng-show="ctrl.showAnswer">{{ ctrl.question.answer }}</h1>
  </div>
  <div class="modal-footer">
    <div ng-hide="ctrl.showAnswer">
      <button class="btn btn-warning" ng-click="ctrl.cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="ctrl.show()">Show Answer</button>
    </div>
    <div ng-show="ctrl.showAnswer">
      <button class="btn btn-warning" ng-click="ctrl.incorrect()">Incorrect</button>
      <button class="btn btn-primary" ng-click="ctrl.correct()">Correct</button>
    </div>
  </div>
</div>
